.Pane2 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.right-pane {
    --top-height: 50px;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.right-top {
    height: var(--top-height);
}

.right-pane .content {
    flex: 1;
    width: 100%;
    height: calc(100% -  var(--top-height));
    box-sizing: border-box;
    padding: 0 0 0 3px;
}


.content .folder-list {}

.content .folder-list .item {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content .folder-list .item div {
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}

.content .folder-list .item .nm { flex: 1 1 auto; min-width: 100px;}
.content .folder-list .item .sz { flex: 1 1 80px; min-width: 0; }
.content .folder-list .item .ext { flex: 1 1 30px; min-width: 0; }
.content .folder-list .item .tm { flex: 1 1 150px; min-width: 0; }

.content .shadow-dom { width: 100%; height: 100%; overflow: auto; }
.content .view-text { white-space: pre-wrap; width: 100%; height: 100%; overflow: auto; }
.content .view-html { width: 100%; height: 100%; overflow: auto; }
.content .view-img { display: flex; justify-content: center; align-items: center; width:100%; height:100%; }
.content .view-img img { max-width: 100%; max-height: 100%; width: auto; height: auto; display: block; }

.content .view-embed { width: 100%; height: 100%; }
.content .view-embed embed { width: calc(100% - 10px); height: calc(100% - 10px); }
.content .view-audio { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; }
.content .view-audio audio { width: 100%; }
.content .view-video { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;}
.content .view-video video { width: 100%; height: 100%; }

.content .view-iframe { display: flex; justify-content: center; align-items: center; width: 100%; }
.content .view-iframe iframe { width: 100%; height: 100%; border:none; }

.right-top { display: flex; width: 100%; height: 25px; margin:0; padding: 0 0 0 3px; background-color: white;}
.right-top .title-path { display: flex; align-items: center; width: 100%; height: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.right-top .title-path .icon { padding: 0 0 0 3px; cursor: pointer;}
.right-top .title-path .icon:hover { transform: scale(1.2); color: #bd623c;}
.right-top .title-path .part-list { cursor: pointer; }
.right-top .title-path .part-list:hover { cursor: pointer; background-color: #bfd2e3}