@import url('resizer.css');
html, body, #root {
    margin: 0;
    padding: 0;

}
.main-pane {
    font-size: 0.8em;
}

.fa-folder { color: #f4a261; margin-right: 5px;}
.fa-folder:hover { transform: scale(1.2); color: #bd623c; }
.fa-folder-open { color: #f4a261; margin-right: 5px;}
.fa-folder-open:hover { transform: scale(1.2); color: #bd623c; }
.fa-folder-plus { color: #f4a261; margin-right: 5px;}
.fa-folder-plus:hover { transform: scale(1.2); color: #bd623c; }
.fa-file { color: #2a9d8f; margin-right: 5px;}
.fa-file:hover { transform: scale(1.2); color: #2a9d8f;}
.fa-file-code { color: #2a9d8f; margin-right: 5px;}
.fa-arrow-up {color: #f4a261; margin-right: 5px;}
.fa-globe {color: #f4a261; margin-right: 5px;}
.fa-globe:hover {transform: scale(1.2); color: #bd623c;}
.fa-arrow-up {color: #f4a261; margin-right: 5px;}
.fa-arrow-up:hover {transform: scale(1.2); color: #bd623c;}
